@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#5F6FFF;
  --color-secondary:#FBBF24;
}

*{
  font-family: Outfit;
  
}

.font-playfair {
  font-family: Playfair !important;
}

.active hr{
    @apply block
}


::-webkit-scrollbar{
  @apply hidden;
}


.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
}
